# Give systemd access to all gpib device events
KERNEL=="gpib[0-9]*", TAG+="systemd"

# Allow users to have access to /dev/gpib*
ACTION!="remove", KERNEL=="gpib[0-9]*", TAG+="uaccess"

SUBSYSTEM!="usb",     GOTO="exit"

  # Agilent/Keysight 82357A/B with firmware loaded
  # The idProduct changes after the firmware is loaded by a udev rule from 61-linux-gpib-firmware.rules
  #     in the linux-gpib-firmware package. 
  #     In Keysight devices, 0007 changes to 0107 (82357A) and 0518 to 0718 (82357B).
  #     In NI devices, the idProduct is 702b before the firmware is loaded.
  
  # Determine the correct --board-type option and give systemd access
  # HP / Agilent / Keysight (PID 0518 is before firmware loaded)
  DRIVER=="agilent_82357a", ATTRS{idProduct}!="0518", ATTRS{serial}!="", ENV{SERIAL}="$attr{serial}", ENV{GPIB_CONFIG_OPTIONS}+="--board-type agilent_82357a", TAG+="systemd", ENV{CONFIG_GPIB}="Y"
  # National Instrument (PID 702b is before firmware loaded)
  DRIVER=="ni_usb_gpib",    ATTRS{idProduct}!="702b", ATTRS{serial}!="", ENV{SERIAL}="$attr{serial}", ENV{GPIB_CONFIG_OPTIONS}+="--board-type ni_usb_b",       TAG+="systemd", ENV{CONFIG_GPIB}="Y"
  # Laboritory of Photovoltaics and Optoelectronics (LPVO) 
  DRIVER=="lpvo_usb_gpib",  ATTRS{serial}!="", ENV{SERIAL}="$attr{serial}", ENV{GPIB_CONFIG_OPTIONS}+="--board-type lpvo_usb_gpib",  TAG+="systemd", ENV{CONFIG_GPIB}="Y"

  # use systemd to run gpib_config if it is an appropriate adapter
  # The instance name (inserted between @ and .) will be the escaped sysfs device path 
  # (also DEVPATH with the /sys prefix: /sys/devices/pci0000:00/0000:00:14.0/usb1/1-4)
  # e.g.: linux-gpib-config@sys-devices-pci0000:00-0000:00:14.0-usb1-1\x2d4.service
  # The systemd unit file can use the %I variable to pass the sysfs path to a script
  ACTION!="add|change", ENV{DEVTYPE}=="usb_interface", ENV{CONFIG_GPIB}=="Y", ENV{SYSTEMD_WANTS}="linux-gpib-config@.service"
 
LABEL="exit"

# create a udev rule file 59-gpib-local.conf to set a deterministic minor number e.g.:
#
# /etc/udev/rules.d/59-linux-gpib-local.conf
# 
#    # This sets the minor device numbers prior to
#    # /usr/lib/udev/rules.d/60-linux-gpib-adapter.conf
#    # which triggers systemd programs (gpib_config) to configure the devices
#    SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_interface", GOTO="execute"
#    GOTO="end"
#
#    LABEL="execute"
#      # Agilent 82357B (after firmware load .. before idProduct is 0518)
#      ATTRS{idVendor}=="0957", ATTRS{idProduct}=="0718", ATTRS{serial}=="MY49450720", ENV{GPIB_CONFIG_OPTIONS}+="--minor 10"
#      # National Instruments GPIB-USB-HS on minor 11 & 12
#      ATTRS{idVendor}=="3923", ATTRS{idProduct}=="709b", ATTRS{serial}=="016AC4CD",   ENV{GPIB_CONFIG_OPTIONS}+="--minor 11"
#      ATTRS{idVendor}=="3923", ATTRS{idProduct}=="709b", ATTRS{serial}=="013876C6",   ENV{GPIB_CONFIG_OPTIONS}+="--minor 12"

#      # it is also possible to match on the particular USB port (rather than device S/N)
#      # e.g. use DEVPATH="/devices/pci0000:00/0000:00:14.0/usb1/1-4/1-4:1.0" rather than ATTRS{serial}=="016AC4CD"
#
#    LABEL="end"

