# Give systemd access to all gpib device events
KERNEL=="gpib[0-9]*", TAG+="systemd"

# Allow users to have access to /dev/gpib*
ACTION!="remove", KERNEL=="gpib[0-9]*", TAG+="uaccess"

SUBSYSTEM!="usb"            GOTO="gpib_adapter_end"
ENV{DEVTYPE}!="usb_device", GOTO="gpib_adapter_end"

  # Give systemd access to all supported adapters, including those without firmware
  # HP / Agilent / Keysight
  ENV{PRODUCT}=="957/107/*|957/7/*|957/[57]18/*", ENV{ID_GPIB_BOARD_TYPE}="agilent_82357a", TAG+="systemd"
  # National Instruments
  ENV{PRODUCT}=="3923/702[ab]/*|3923/713b/*|3923/709b/*|3923/7618/*", ENV{ID_GPIB_BOARD_TYPE}="ni_usb_b", TAG+="systemd"
  # Laboritory of Photovoltaics and Optoelectronics (LPVO) 
  ENV{PRODUCT}=="6001", ENV{ID_GPIB_BOARD_TYPE}="lpvo_usb_gpio", TAG+="systemd"

  # Agilent/Keysight 82357A/B with firmware loaded
  # The idProduct changes after the firmware is loaded by a udev rule from 61-linux-gpib-firmware.rules
  #     in the linux-gpib-firmware package. 0007 to 0107 (82357A) and 0518 to 0718 (82357B)
  ATTR{idVendor}=="0957", ATTR{idProduct}=="0107|0718",      ENV{ID_GPIB_ADAPTER}="1"
  # NI adapters with firmware loaded
  ATTR{idVendor}=="3923", ATTR{idProduct}=="702a|709b|7618", ENV{ID_GPIB_ADAPTER}="1"
  # LPVO adapters
  ATTR{idVendor}=="0403", ATTR{idProduct}=="6001",           ENV{ID_GPIB_ADAPTER}="1"

  # use systemd to run gpib_config if it is an appropriate adapter
  # The instance name (inserted between @ and .) will be the escaped sysfs device path 
  # (also DEVPATH with the /sys prefix: /sys/devices/pci0000:00/0000:00:14.0/usb1/1-4)
  # e.g.: linux-gpib-config@sys-devices-pci0000:00-0000:00:14.0-usb1-1\x2d4.service
  # The systemd unit file can use the %I variable to pass the sysfs path to a script
  ACTION=="add|change", ENV{ID_GPIB_ADAPTER}=="1", ENV{SYSTEMD_WANTS}="linux-gpib-config@.service"

LABEL="gpib_adapter_end"

# create a udev rule file 59-gpib-local.conf to set a deterministic minor number e.g.:
#
# /etc/udev/rules.d/59-linux-gpib-local.conf
# 
#    # This sets the minor device numbers prior to
#    # /usr/lib/udev/rules.d/60-linux-gpib-adapter.conf
#    # which triggers systemd programs (gpib_config) to configure the devices
#    SUBSYSTEM!="usb",           GOTO="gpib_adapter_end"
#    ENV{DEVTYPE}!="usb_device", GOTO="gpib_adapter_end"
#      # Agilent 82357B (after firmware load .. before idProduct is 0518)
#      ATTRS{idVendor}=="0957", ATTRS{idProduct}=="0718", ATTR{serial}=="MY49450720", ENV{ID_GPIB_MINOR}:="10"
#      # National Instruments GPIB-USB-HS on minor 11 & 12
#      ATTRS{idVendor}=="3923", ATTRS{idProduct}=="709b", ATTR{serial}=="016AC4CD",   ENV{ID_GPIB_MINOR}:="11"
#      ATTRS{idVendor}=="3923", ATTRS{idProduct}=="709b", ATTR{serial}=="013876C6",   ENV{ID_GPIB_MINOR}:="12"
#    LABEL="gpib_adapter_end"

